.container {
  border: 1px solid rgb(235,235,235);
  margin-top: 22px;
}
li {
  list-style: none;
}
#banner {
  background-image: url("images/banner3.jpg");
  margin-top: 4px;
  color: white;
  background-size: cover;
  background-position: center;
  height: 480px;
}

.navbar {
  border: 1px solid rgb(235,235,235);
}
.navbar li {
  display: inline;
  margin: 22px;
  font-size: 22px;
}
div{
  text-align: center;
  
}
.profile_pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.btn {
  padding: 8px;
  background-color: black;
  color: white;
  text-decoration: none;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  border: black 1px;
  padding: 30px;
}
.card img {
  width: 80%;
}
.card {
  border: 1px solid rgb(235,235,235);
}
i {
  color: black;
  margin: 16px;
  font-size: 40px;
}
.footer .fa-heart {
  color: #D23333;
  font-size: 12px;
}
.footer li {
  text-align: center;
}
